body {
  width: min(60rem, 100%);
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1, 0, 40rem;
}

.a-message {
  padding: 1rem;
  display: grid;
  grid-template-columns: min-content min-content max-content;
}

.a-message > * {
  padding: 1rem;
}

.submit-area {
  display: flex;
}

.submit-area__input {
  flex: 1;
}

.typing-data {
  flex: 1, 0, 6rem;
}
